body
{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    }

h1 {
    margin: 0;
    font-size: 3em;
    }

table, th, td
{
    border: 1px  solid black;
    text-align: center;
    }
label
{
    float: left;
    width: 8em;
    text-align: right;
    margin-right: 10px;
    }

form
{
    margin: 2em 2em;

}

.container
{
    width: 70em;
    margin-left: auto;
    margin-right: auto;
    }

.nav
{
    padding: 1em 2em;
    background: lightseagreen;
    }

.float
{
    float: right;
    Clear: left;
    padding: 1em;
    }

.floatleft
{
    float: left;
    clear: right;
    padding-left: 1em;
    padding-top: 0em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.topalignment
{
    vertical-align: text-top;

}

.fineprint
{
    font-size: 0.7em;
    line-height: 1em;
    }

.nav ul
{
    margin: 0;
    padding: 0;
    }

.nav li
{
    display: inline;
    margin-right: 1em;
    }


.nav li a
{
    color: white;
    }

.nav li > a
{
    text-decoration: none;
    }


.centeredbody
{
    text-align: center;
    }


#header
{
    padding: 2em;
    color: white;
    background-image: url("sandbanner.jpg")
}

#main
{
    margin: 1em 2em;
}

#mainbody
{
    font-size: 1.2em;
    text-align: center;
}

#announcements
{
    color: white;
    background: black
}

#footer
{

    font-size: 0.8em;
    margin-top: 10em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: lightseagreen;
    width: 90em;
    margin-left: auto;
    margin-right: auto;
}
#footerxdeep
{

    font-size: 0.8em;
    margin-top: 25em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: lightseagreen;
    width: 90em;
    margin-left: auto;
    margin-right: auto;
}


a:link { color: lightseagreen; }
a:visited { color: blue; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }